.homepage {
  padding: 0 1rem;
  max-width: 1410px;
  margin: 0 auto;
}

.allHeroes {
  margin: 3rem 0;
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
    input {
      padding: 1rem;
      width: 400px;
      border: none;
      border-radius: 16px;
      background: #e1e1eb;
      color: #121212;
      &:focus{
        outline: none;
    }
    }

    button {
      padding: 1rem;
      background: var(--red);
      border: none;
      border-radius: 16px;
      margin-left: 0.5rem;
      font-size: 0;

      img {
        width: 18px;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  button {
    padding: 1.5rem;
    border: none;
    background: var(--red);
    color: var(--yellow);
    font-size: bold;
    font-size: 1.5rem;
    border-radius: 15px;
    & + button{
      margin-left: 1rem;
    }

    &:disabled {
      background: #f07566;
      cursor: default;
    }
  }
}



@media (max-width: 1080px){
  .allHeroes {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 800px){
  .allHeroes {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 600px){
  .allHeroes {
    ul {
      grid-template-columns: 1fr;
    }
  }
}